html, body, #root, .App
{
    height: 100%;
    width: 100%;
}

@for $i from 0 through 10 {
    .w-#{$i*10} { width:  10% * $i; }
    .w-px-#{$i*50} { width:  50px * $i; }
    .h-#{$i*10} { height: 10% * $i; }
    .h-px-#{$i*50} { height: 50px * $i; }
}

$values:(
    "start" : flex-start,
    "end" : flex-end,
    "center" : center,
    "between" : space-between,
    "around" : space-around,
    "evenly" : space-evenly,
    "left" : left,
    "right" : right,
    "baseline" : baseline,
);

$flex-directions:(
    "column": column,
    "column-reverse": column-reverse,
    "inherit": inherit,
    "initial": initial,
    "revert": revert,
    "row": row,
    "row-reverse": row-reverse,
);

@each $variant,$value in $values {
    .justify-content-#{$variant}{ justify-content: $value;}
    .align-items-#{$variant}{ align-items: $value;}
}

@each $variant,$value in $flex-directions {
    .flex-d-#{$variant}{flex-direction: $value;}
}

@for $i from 0 through 10 {
    .p-#{$i} { padding:  0.25rem * $i !important; }
    .pr-#{$i} { padding-right:  0.25rem * $i !important; }
    .pl-#{$i} { padding-left:  0.25rem * $i !important; }
    .pt-#{$i} { padding-top:  0.25rem * $i !important; }
    .pb-#{$i} { padding-bottom:  0.25rem * $i !important; }
    .m-#{$i} { margin: 0.25rem * $i !important; }
    .mr-#{$i} { margin-right:  0.25rem * $i !important; }
    .ml-#{$i} { margin-left:  0.25rem * $i !important; }
    .mt-#{$i} { margin-top:  0.25rem * $i !important; }
    .mb-#{$i} { margin-bottom:  0.25rem * $i !important; }
}

.d-flex {display: flex;}
.d-block {display: block;}
.box-sizing-border
{
    box-sizing: border-box;
}

$colors:(
    "primary": #4fc3f7,
    "primary-light": #8bf6ff,
    "primary-dark": #0093c4,
    "secondary": #d81b60,
    "secondary-light": #ff5c8d,
    "secondary-dark": #a00037,
    "gray-light": #f3f3f3,
    "gray-dark": #b1b1b1,
);

@each $color,$value in $colors {
    .bg-#{$color}{ background-color: $value !important;}
}

@for $i from 0 through 20 {
    .fs-rem-#{$i}{font-size: 0.5rem+0.125rem*$i !important;}
    .fw-#{50*$i}{font-weight: $i*50 !important;}
}
